<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API-tests PetStore">
    <test name="Создание питомца">
        <classes>
            <class name="tests.PetPositiveTest">
                <methods>
                    <include name="createPetTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Обновление питомца">
        <classes>
            <class name="tests.PetPositiveTest">
                <methods>
                    <include name="updatePetTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>