<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API-tests PetStore">

    <test name="Позитивные сценарии">
        <classes>
            <class name="tests.PetPositiveTest"/>
        </classes>
    </test>

    <test name="Негативные сценарии">
        <classes>
            <class name="tests.PetNegativeTest"/>
        </classes>
    </test>

</suite>